In [1]:
import warnings
warnings.filterwarnings('ignore')

import dash
import dash_core_components as dcc
import dash_html_components as dtml

In [2]:
app=dash.Dash()

In [3]:
app.layout=dtml.Div([
    dtml.H1('Hello Dash!'),
    dtml.Div('Dash - A Data product development framework from plotly')
])

In [7]:
if __name__=='__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

#### Simple Bar Chart

In [9]:
app.layout=dtml.Div([
    dtml.H1('Hello Dash!'),
    dtml.Div('Dash - A Data product development framework from plotly'),
    
    dcc.Graph(
    id='samplechart',
        figure={
            'data':[
                {'x':[4,6,8],'y':[12,16,18],'type':'bar','name':'first chart'},
                {'x':[4,6,8],'y':[24,26,28],'type':'bar','name':'second chart'}
            ],
            'layout':{'title':'Simple Bar Chart'}
        }
    )
])

In [10]:
if __name__ =='__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Jun/2021 13:12:27] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 13:12:27] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 13:12:27] "GET /_dash-dependencies HTTP/1.1" 200 -

#### Styling Up the Text

In [13]:
app.layout=dtml.Div([
    dtml.H1(
        children='Hello Dash!',
        style={
            'textAlign':'center',
            'color':'#8a20db'
        }
    ),
    dtml.Div(
        children='Dash - A Data product development framework from plotly',
        style={
            'textAlign':'center',
            'color':'#8a20db'
        } 
            ),
    
    dcc.Graph(
    id='samplechart',
        figure={
            'data':[
                {'x':[4,6,8],'y':[12,16,18],'type':'bar','name':'first chart'},
                {'x':[4,6,8],'y':[24,26,28],'type':'bar','name':'second chart'}
            ],
            'layout':{'title':'Simple Bar Chart'}
        }
    )
])

In [14]:
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Jun/2021 13:42:27] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 13:42:27] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 13:42:27] "GET /_dash-dependencies HTTP/1.1" 200 -

#### Format Laylout

In [20]:
app.layout=dtml.Div([
    dtml.H1(
        children='Hello Dash!',
        style={
            'textAlign':'center',
            'color':'#8a20db'
        }
    ),
    dtml.Div(
        children='Dash - A Data product development framework from plotly',
        style={
            'textAlign':'center',
            'color':'#8a20db'
        } 
            ),
    
    dcc.Graph(
    id='samplechart',
        figure={
            'data':[
                {'x':[4,6,8],'y':[12,16,18],'type':'bar','name':'first chart'},
                {'x':[4,6,8],'y':[24,26,28],'type':'bar','name':'second chart'}
            ],
            'layout':{
                'plot_bgcolor':'#a5a14a',
                'paper_bgcolor':'#D3D3D3',
                'font':{'color':'blue'},
                
                'title':'Simple Bar Chart'
            }
        }
    )
])

In [21]:
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Jun/2021 13:57:36] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 13:57:37] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 13:57:37] "GET /_dash-dependencies HTTP/1.1" 200 -

#### Creating Ineractive Graph

In [2]:
import pandas as pd
import numpy as np

import plotly.graph_objs as go

In [3]:
df=pd.read_excel('salesfunnel.xlsx')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [4]:
pv=pd.pivot_table(df,index=['Name'],columns=['Status'],values=['Quantity'], aggfunc=sum,fill_value=0)
pv

                             Quantity
Status                       declined pending presented won
Name
Barton LLC                          1       0         0   0
Fritsch, Russel and Anderson        1       0         0   0
Herman LLC                          0       0         0   2
Jerde-Hilpert                       0       2         0   0
Kassulke, Ondricka and Metz         0       0         0   3
Keeling LLC                         0       0         0   5
Kiehn-Spinka                        0       0         0   2
Koepp Ltd                           2       0         2   0
Kulas Inc                           0       2         1   0
Purdy-Kunde                         0       0         1   0
Stokes LLC                          0       1         1   0
Trantow-Barrows                     0       2         2   0

In [5]:
trace1=go.Bar(x=pv.index,y=pv[('Quantity','declined')],name='Declined')
trace2=go.Bar(x=pv.index,y=pv[('Quantity','pending')],name='Pending')
trace3=go.Bar(x=pv.index,y=pv[('Quantity','presented')],name='Presented')
trace4=go.Bar(x=pv.index,y=pv[('Quantity','won')],name='Won')

In [6]:
app=dash.Dash()

app.layout=dtml.Div(children=[
    dtml.H1(children='Sales Funnel Report'),
    dtml.Div(children='''National Sales Funnel Report.'''),
    dcc.Graph(
        id='example-graph',
        figure={
            'data':[trace1,trace2,trace3,trace4],
            'layout':
                go.Layout(title='Order Status by Customer',barmode='stack')
        }
    )
])

In [7]:
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Jun/2021 17:29:25] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 17:29:25] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 17:29:25] "GET /_dash-layout HTTP/1.1" 200 -

#### Interactive Graph using Dashboard

In [4]:
import dash
import pandas as pd
import plotly.express as px
import dash_core_components as dcc
import dash_html_components as dtml
from dash.dependencies import Input,Output

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/yuxuanwu17/INT303-Avocado-prediction/main/avocado-updated-2020.csv')
df.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,2015,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,Baltimore/Washington

In [8]:
app=dash.Dash()

app.layout=dtml.Div(children=[
    dtml.H1(children='Avacado Price Dash Board'),
    dcc.Dropdown(id='geo-dropdown',
                options=[{'label':i,'value':i}
                    for i in df['geography'].unique()],
                value='New York'),
    dcc.Graph(id='price_graph')
])

@app.callback(
    Output('price_graph','figure'),
    Input('geo-dropdown','value')
)

def update_graph(selected_geography):
    dff=df[df.geography==selected_geography]
    line_fig=px.line(dff,
                    x='date',y='average_price',
                    color='type',
                    title=f'Avacado Prices in {selected_geography}')
    return line_fig

In [9]:
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Jun/2021 18:07:44] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 18:07:44] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 18:07:44] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 18:07:44] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Jun/2021 18:07:54] "POST /_dash-update-component HTTP/1.1" 200 -